#search-box {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
/* 
#suggestion-box {
  position: relative;
  color: #00afcb;
  background-color: red;
  width: 20%;
  height: 30%;
} */

.matched-item {
  background-color: greenyellow;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  font-size: medium;
  color: blueviolet;
  width: 40%;
  cursor: pointer;
}

.unmatched-item {
  background-color: white;
  padding: 5px;
  width: 40%;
  font-size: medium;
  color: black;
  border: 1px solid #ccc;
}

